[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
python-ternary = "*"
numpy = "*"
psutil = "*"

[dev-packages]
yapf = "*"
pyinstaller = "*"

[requires]
python_version = "3.12"

[scripts]
prettier = "pipenv run yapf -i -r plot_LLE.py src"
